<div class="justify-content-center">
    <div class="card text-center">
        <div class="card-header">
            <h2>
                BIENVENIDO A TU POKEAPI
            </h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Api especial para comprender el mundo POKEMON</h5>
            <p class="card-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt praesentium nostrum provident veritatis
                nesciunt, numquam cum tenetur dolore labore amet eaque perspiciatis ad similique ex animi, obcaecati
                tempora distinctio voluptates.
            </p>
            <a [routerLink]="['/pokemons']" routerLinkActive="router-link-active"  class="btn btn-primary">Ir al Pokedex</a>
        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>